body {
  margin: 0;
  background-color: rgba(218, 218, 218, 0.904);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3 {
  margin: 0.5rem 0;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1rem;
}
a {
  text-decoration: none;
}

.row {
  display: flex;
  justify-content: space-between;
}
.row.center {
  align-items: center;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}

.segment {
  background-color: white;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

img.small {
  max-height: 8rem;
}

button {
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border-color: darkgreen;
  width: 100%;
  cursor: pointer;
}
button.add {
  background-color: green;
  width: 1.5rem;
}
button.remove {
  background-color: red;
  width: 1.5rem;
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
